@model ChoixResto.ViewModels.BookingViewModel

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Index";
    ViewBag.GreenButton = "See all Booking";
    ViewBag.TitreSection = "Ready to book a restaurant ?";
}

@section css{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}

@section scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

}

@using (Html.BeginForm())
{
    <legend id="test">Book a restaurant</legend>

    <div class="form-group">
        @Html.Label("Choose the restaurant")
        @Html.DropDownList("restochoisi", Model.Restos, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-6" style="padding-left : 0 ">
        @Html.Label("Number of people")
        @Html.TextBox("nbpeople", "", new { @class = "form-control" })
        @*Mettre un readonly ??*@

        <span class="number " style="display:none;">
            <span class="btn-group btn-group-justified">
                <a class="chiffre btn btn-info" href="#">9</a>
                <a class="chiffre btn btn-info" href="#">8</a>
                <a class="chiffre btn btn-info" href="#">7</a>
            </span>
            <span class="btn-group btn-group-justified">
                <a class="chiffre btn btn-info" href="#">6</a>
                <a class="chiffre btn btn-info" href="#">5</a>
                <a class="chiffre btn btn-info" href="#">4</a>
            </span>
            <span class="btn-group btn-group-justified">
                <a class="chiffre btn btn-info" href="#">3</a>
                <a class="chiffre btn btn-info" href="#">2</a>
                <a class="chiffre btn btn-info" href="#">1</a>
            </span>
            <span class="btn-group btn-group-justified">
                <a class="chiffre btn btn-info" href="#">0</a>
                <a class="chiffre btn btn-warning" href="#">R</a>
            </span>
        </span>
    </div>

    <div class="form-group col-md-6" style="padding-right : 0 ">
        @Html.Label("Date")
        <input name="datepicker" type="text" class="form-control" id="datepicker">
        @*@Html.TextBox("datepicker","",new { @class = "form-control hasDatepicker" }) pourquoi ca marche pas ??*@
    </div>

    <div class="form-group">
        @Html.Label("Name of organisateur") @*Probleme label qui se barre sur la droite quand le pave numerique apparait*@
        @Html.DropDownList("orga", Model.Utilisateurs, new { @class = "form-control" })
    </div>
    <input class="btn btn-primary" type="submit" value="Send" />

        <script>
            $(function () {
                $("#datepicker").datepicker();

                $('#nbpeople').focus(function () {
                    $('.number').show();
                });
                $('input:not("#nbpeople")').focus(function () {
                    $('.number').hide();
                });
                //$('#numberpeople').blur(function () {
                //    $('.number').hide();
                //});
                $('.chiffre').click(function () {
                    var val = $(this).text();
                    if (!isNaN(val))
                        $('#nbpeople').val($('#nbpeople').val() + val);
                    else
                        $('#nbrpeople').val($('#nbpeople').val().substring(0, $('#nbpeople').val().length - 1));

                });


            });
        </script>
}
