@model ChoixResto.ViewModels.BookingViewModel

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Index";
    ViewBag.GreenButton = "See all Booking";
    ViewBag.GreenButtonLink = "/Booking/All";
    ViewBag.TitreSection = "Ready to book a restaurant ?";
}

@section scripts
    {
    <style type="text/css">
        .field-validation-error {
            color: #f00;
        }

        .validation-summary-errors {
            color: #f00;
            font-weight: bold;
        }

        .input-validation-error {
            border: 2px solid #f00;
            background-color: #fee;
        }

        input[type="checkbox"].input-validation-error {
            outline: 2px solid #f00;
        }
    </style>
}


@using (Html.BeginForm())
{
    <legend id="test">Book a restaurant</legend>

    <div class="form-group">
        @Html.Label("Choose the restaurant")
        @Html.DropDownList("restochoisi", Model.Restos, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-6" style="padding-left : 0 ">
        @Html.Label("Number of people")
        @Html.TextBox("nbpeople", "", new { @class = "form-control", @type = "number" })
        @*Mettre un readonly ??*@

        <span class="number " style="display:none;">
            <span class="btn-group btn-group-justified">
                <a class="chiffre btn btn-info" href="#">9</a>
                <a class="chiffre btn btn-info" href="#">8</a>
                <a class="chiffre btn btn-info" href="#">7</a>
            </span>
            <span class="btn-group btn-group-justified">
                <a class="chiffre btn btn-info" href="#">6</a>
                <a class="chiffre btn btn-info" href="#">5</a>
                <a class="chiffre btn btn-info" href="#">4</a>
            </span>
            <span class="btn-group btn-group-justified">
                <a class="chiffre btn btn-info" href="#">3</a>
                <a class="chiffre btn btn-info" href="#">2</a>
                <a class="chiffre btn btn-info" href="#">1</a>
            </span>
            <span class="btn-group btn-group-justified">
                <a class="chiffre btn btn-info" href="#">0</a>
                <a class="chiffre btn btn-warning" href="#">R</a>
            </span>
        </span>
    </div>
    
    @*<p>@ViewBag.result</p>*@

    <div class="form-group col-md-6" style="padding-right : 0 ">
        @*@Html.Label("Date")*@
        @Html.LabelFor(m=>m.booking.Date)
        @*@Html.TextBox("Date","", new { @class = "form-control" })*@
        @Html.TextBoxFor(m => m.booking.Date, new { @class = "form-control" })
        @*<input name="Date" type="text" class="form-control" id="Date">*@
        @*@Html.ValidationMessageFor(m=>m.booking.Date)*@
        @*@Html.TextBox("datepicker","",new { @class = "form-control hasDatepicker" }) pourquoi ca marche pas ??*@
    </div>

    <div class="form-group">
        @Html.Label("Name of organisateur") @*Probleme label qui se barre sur la droite quand le pave numerique apparait*@
        @Html.DropDownList("orga", Model.Utilisateurs, new { @class = "form-control" })
    </div>
    <input class="btn btn-primary" type="submit" value="Send" />

        <script>
            $(function () {
                $("#Date").datetimepicker({ format: 'DD/MM/YYYY'});

                $('#nbpeople').focus(function () {
                    $('.number').show();
                });
                $('input:not("#nbpeople")').focus(function () {
                    $('.number').hide();
                });
                //$('#numberpeople').blur(function () {
                //    $('.number').hide();
                //});
                $('.chiffre').click(function () {
                    var val = $(this).text();
                    if (!isNaN(val))
                        $('#nbpeople').val($('#nbpeople').val() + val);
                    else
                        $('#nbpeople').val($('#nbpeople').val().substring(0, $('#nbpeople').val().length - 1));

                });


            });
        </script>
}
